<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proiect TD</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/notifications.js"></script>
    <link rel="stylesheet" href="css/sidebar.css">
</head>
<body>
    <div id="sidebar" class="bar">
        <div class="gradient1"></div>
        <div class="button1" @click="outputNotifications">
            <img src="img/notification.png" class="notificationIcon">
            <div class="extendedNotification">
                <p class="notificationText">Notifications</p>
            </div>

            <p class="unreadNotifications" v-if="meetsConditions()">{{unreadNotifications}}</p>
            <p class="unreadNotifications" v-if="unreadNotifications > 100">99+</p>
        </div>
        <div class="button2">
            <img src="img/user.png" class="userIcon">
            <div class="extendedUser">
                <p class="profileText">Profile</p>
            </div>
        </div>
        <div class="button3">
            <img src="img/settings.png" class="settingsIcon">
            <div class="extendedSettings">
                <p class="settingsText">Settings</p>
            </div>
        </div>


    </div>

    <script src="js/sidebar.js"></script>
</body>
</html>