.bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 50px;
    margin: 0 auto;
    background-color: #5680E9;
}

.gradient1 {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 50px;
    background-color: #5680E9;
    background-image: linear-gradient(
            #5680E9, #8860D0
    );
}

.button1 {
    position: relative;
    top: 75px;
    left: 5px;
    height: 75px;
    width: 50px;
    background-color: #8860D0;
    background-image: linear-gradient(
            to right,
            #5680E9, #8860D0
    );
}

.button2 {
    position: relative;
    top: 110px;
    left: 5px;
    height: 75px;
    width: 50px;
    background-color: #8860D0;
    background-image: linear-gradient(
            to right,
            #5680E9, #8860D0
    );
}

.button3 {
    position: relative;
    top: 145px;
    height: 75px;
    left: 5px;
    width: 50px;
    background-color: #8860D0;
    background-image: linear-gradient(
            to right,
            #5680E9, #8860D0
    );
}

.button1:hover, .button2:hover, .button3:hover {
    background-image: linear-gradient(
            to right,
            #8860D0, #5680E9
    );
}

.notificationIcon, .userIcon, .settingsIcon {
    position: relative;
    top: 20px;
    left: 5px;
    width: 35px;
    height: 35px;
}